doctype html
html
  head
    title Teacher page
  style
  body
     h1 This is the pupil page. In the future, tools for check homework, taking tasks from teacherand  other intereting things will be there)
     a(href="logout") Logout