doctype html
html
  head
    title Teacher page
  style
  body
     h1 This is the teacher page. In the future, tools for planing lessons and other intereting things will be there)
     h2 test_data
    
     a(href="logout") Logout