*, *:after, *:before {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   transition: .5s ease-in-out;
   /* добавим плавность переходов для всех элементов страницы*/
}
ul {
   list-style: none; /*  */
}
a {
   text-decoration: none; /* Стиль текста(подчеркивания, зачеркивания и тд)*/
   outline: none; /*Похожа на border, но не влияет на ширину элемента, и задаётся сразу по всей границе*/
}
img {
   display: block;
   width: 100%;
}
h1, h2, h3, h4, h5, h6 {
   font-family: 'Playfair Display';
   font-weight: normal;
   letter-spacing: 1px;
}
/* добавим очистку потока для всех контейнеров, внутри которых задано обтекание дочерних элементов */
header:after, .container:after, footer:after, .widget-posts-list li:after, #subscribe:after {
   content: "";
   display: table;
   clear: both; /*Задаем запрет обтекания элемента. Тут с обоих сторон*/
}
 /* стилевой класс, который управляет шириной контейнера сетки*/
 .container {
   margin: 0 auto;
   width: 100%;
   max-width: 960px;
   padding: 0 15px;
}
header {
   width: 100%;
   background: white;
   box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);
   padding: 15px 0;
   margin-bottom: 30px;
   position: relative;
}
/* header:hover{
   background-color: red;
   border-radius: 10%;
   border-color: rgba(0, 0, 0, .05);
} */
 /* логотип */
 .logo {
   display: block;
   float: left;
}
.logo span {
   color: white;
   display: inline-block;
   width: 30px;
   height: 30px;
   line-height: 30px;
   border-radius: 50%;
   margin: 5px 0;
   text-align: center;
   text-shadow: 2px 2px 1px rgba(0, 0, 0, .4);
}
.logo span:nth-child(1n) {
   background: #3b3ba5;
}

.logo span:nth-child(2n) {
   background:  #e77664;
}
.profile-image{
   width: 13%;
   height:10%;
   display: block;
   background: 50% 50% no-repeat;
   float: right;
   border-radius: 60% ;
}

.profile-image-big{
   width: 100%;
   height:100%;
}
/* меню */
 .menu {
    float: left;
    display: block;
    clear:left;
 }
 .menu img{
    border:rgba(0, 0, 0, .05);
    border-radius: 50%;
    width: 5%;
    height: 5%;
    float: right;
    position: relative;
    display: block;
    overflow: hidden; /*Если в блоке вышло за границы - скрываем нахуй*/
 }
 .menu li {
    display: inline-block;
    margin-right: 30px;
 }
 .menu a {
    color: #111;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    display: block;
    line-height: 40px;
 }
 .menu a:hover {
    color: #EF5A42;
 }
 .menu li:last-child {
    margin-right: 0;
 }
 /* кнопка переключения меню, появляющаяся при ширине 768px */
 .nav-toggle {
   display: none;
   position: relative;
   float: right;
   width: 40px;
   height: 40px;
   margin-left: 20px;
   background: #EF5A42;
   cursor: pointer;
}
.nav-toggle span {
   display: block;
   position: absolute;
   top: 19px;
   left: 8px;
   right: 8px;
   height: 2px;
   background: white;
}
.nav-toggle span:before, .nav-toggle span:after {
   content: "";
   position: absolute;
   display: block;
   left: 0;
   width: 100%;
   height: 2px;
   background: white;
}
.nav-toggle span:before {
   top: -10px;
}
.nav-toggle span:after {
   bottom: -10px;
}
 /* класс, который будет добавлен в верхнему меню при нажатии на кнопку и покажет скрытое меню*/
 .menu.active {
   max-height: 123px;
}

 /* левый контейнер */
 .lessons-list {
   margin-bottom: 30px;
   width: 64%;
   float: left;
}

/* блок для статьи */
.lesson {
   margin-bottom: 35px;
   background-color: white;
   padding: 5%;
}
.lesson-content p {
   line-height: 1.5;
   padding-bottom: 1em;
}
.lesson-image {
   margin-bottom: 30px;
   width: 5%;
}
.lesson-chat-link{
    width: 5%;
    height: 5%;
}

.pupil-info {
   margin-bottom: 15px;
}
.pupil-info a {
   color: #65adaa;
   text-transform: uppercase;
}
 